body{
    display: flex;
    background-color: purple;
    justify-content: center;
}

form{
    display: grid;
    background-color: gainsboro;
    grid-template-columns: repeat(1, 2in 3in);
    gap: 10px;
    align-items: center;
    border: solid;
    border-color: blue;
    padding: 10px;
    margin-top: 40vh;
}

#senha{
    width: 2in;
}

label{
    display: flex;
    justify-content: end;
}